<button (click)="employeeMode=!employeeMode">Employee View</button>
<div class="kegDisplay" *ngIf="selectedKeg">
  <h1>{{selectedKeg.name}}</h1>
  <div class="kegInfo" *ngIf="!editMode">
    <p >{{selectedKeg.brand}} Brewery</p>
    <p>${{selectedKeg.price}} / pint</p>
    <p>{{selectedKeg.abv}}% abv</p>
    <p>{{selectedKeg.ibu}} IBUs</p>
    <p>{{selectedKeg.volume}} pints remaining</p>
  </div>
  <div class="kegInfo" *ngIf="editMode">
    <input [(ngModel)]="selectedKeg.name" placeholder="Name">
    <input [(ngModel)]="selectedKeg.brand" placeholder="Brand">
    <input [(ngModel)]="selectedKeg.price" type="number" placeholder="Price">
    <input [(ngModel)]="selectedKeg.abv" type="number" placeholder="abv">
    <input [(ngModel)]="selectedKeg.ibu" type="number" placeholder="ibu">
    <input [(ngModel)]="selectedKeg.volume" type="number" placeholder="Volume">
  </div>
  <button (click)="editMode=!editMode">Edit</button>
</div>
<button *ngIf="employeeMode" (click)="addKeg(); onSelect(kegList[kegList.length-1])">Add Keg</button>
<ul class="kegList">
  <li *ngFor="let keg of kegList"
    [class.selected]="keg === selectedKeg"
    (click)="onSelect(keg)">
    <button *ngIf="employeeMode && keg.volume > 0" (click)="sellPint(keg)">Sell</button>
    <button *ngIf="employeeMode && keg.volume <= 0" (click)="refill(keg)">Refill</button>
    <span class="badge">{{keg.name}} ^    {{keg.volume}} pints remaining</span>
    <hr>
  </li>
</ul>
